/* Farbschema
#f7fbfc
#d6e6f2
#b9d7ea
#769fcd */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.navbar.dots .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=f7fbfc');
background-color: #b9d7ea;
}



nav {
  background-color: #b9d7ea;
}

body {
 background-color: #f7fbfc;
}

.untertitel {
  color: #769fcd;
  font-size: 11px;
  text-align: center;
  padding-top: 10px;
}

/* Buttons */

    .buy {
      border-radius: 12px;
      font-size: 16px;
      padding: 8px 14px;
      background-color: #4CAF50;

    }

    .buy.hover {
      background-color: #4CAF50; /* Green */
      color: white;
    }

    .sell {
      border-radius: 12px;
      font-size: 16px;
      padding: 8px 14px;
      background-color: #f44336;
    }

    .buy.hover {
      background-color: #f44336;
      color: white;
    }
