.navbar.dots .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=f7fbfc');
background-color: #5277B7;
}

.navbar {
  background-color: #5277B7;
	padding: 0px 0px 0px 9%;
}

.straight {
  background-color: #F1F4F9;
  color: #406098;
  padding-top: 100px;
    padding-bottom: 100px;
}
.odd {
  background-color: #FFFFFF;
  color: #406098;
  padding-top: 100px;
  padding-bottom: 100px;
}
